
/* .SpeechRec{

    margin-left: 5%;

}

p{

    margin-left: 5%;

}

h1{

    margin-left: 5%;
}

#start_button{

    margin-bottom: 30%;
    }

#info{

    margin-bottom: 30%;
}

#results{

    margin-bottom: 15%;
} */