
.SpeechRec{

    margin-left: 3%;

}

p{

    margin-left: 3%;

}

h1{

    margin-left: 3%;
}

#start_button{

    margin-bottom: 3%;
    }

#info{

    margin-bottom: 3%;
}

#results{

    margin-bottom: 3%;
}