
.SpeechRec{

    margin-left: 5%;

}

p{

    margin-left: 5%;

}

h1{

    margin-left: 5%;
}

#start_button{

    margin-bottom: 5%;
    }

#info{

    margin-bottom: 5%;
}

#results{

    margin-bottom: 5%;
}